html, body {
    background-color: black;
    height: 100%;
    margin: 0;
    color: beige;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.mainpanel {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 85%;
}

.sidepanel {
    flex-direction: column;
    width: 15%;
    background-color: rgb(0, 0, 0);
    border-right-width: 3px;
    border-color: beige;
    border-right-style: solid;

}

.registerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm {
    width: 15%;
    display: flex;
    flex-direction: column;
    border: 2px solid beige;
    padding: 1rem;
    gap: 0.2rem;
    button {
        max-width: 50%;
        align-self: flex-end;
    }
}

.invalid {
    border: 3px solid red;
}