html,
body {
    /* background-color: black; */
    background: #061c1f;
    background: linear-gradient(1deg,rgba(8, 36, 41, 1) 0%, rgba(0, 0, 0, 1) 83%);
    /* background: linear-gradient(1deg,rgba(38, 38, 38, 1) 0%, rgba(0, 0, 0, 1) 83%); */
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Ubuntu Sans Mono';
}

a {
    color: white;
}

input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 1.5rem;
    color: white;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: large;
}

hr {
    color: white;
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    margin: 0.5rem;
}

.aic {
    display: flex;
    align-items: center;
}

.justify-sb {
    justify-content: space-between;
}

.inline {
    display: inline-flex;
}

.container {
    background-color: rgb(29, 29, 29);
    display: flex;
    /* backdrop-filter: blur(150px) contrast(0.9);
    box-shadow: inset 0px 0px 20px 11px #ffffff0f;
    border-radius: 7px;
    padding: 0.5rem; */
    /* backdrop-filter: blur(150px) contrast(0.85); */
    /* box-shadow: inset 0px 0px 20px 11px #c9c9c90f; */
    border-radius: 7px;
    padding: 0.5rem;
}

.namedisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 1rem;
    padding-left: 0.5rem; */
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.3rem;
    /* font-weight: bold; */
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: white;
    color: black;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: rgba(0, 0, 0, 0.904); */
}

.mainpanel {
    display: flex;
    /* background-color: black; */
    flex: 1;
    /* width: 70%; */
    height: 100%;
}

.sidepanel {
    flex-direction: column;
    width: 15%;
    display: flex;
    gap: 1rem;
    /* background-color: rgb(29, 29, 29); */
    /* border-right-width: 3px; */
    /* border-color: white;
    border-right-style: solid;  */
    /* height: 100%; */
    padding: 0.5rem;
}

#chatpanel {
    display: flex;
    gap: 1rem;
    width: 15%;
    /* border-left-width: 3px;
    border-color: white;
    border-left-style: solid; */
    padding: 0.5rem;
    overflow: hidden;
    span {
        align-self: center;
    }
}

.chathistory {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    margin: 0%;
    padding: 0.5rem;
    overflow-y: auto;
    list-style: none;
    scrollbar-width: thin;
}

.messageinput {
    padding: 0.5rem;
    height: 10%;
    flex-direction: column;
    justify-content: space-evenly;
}


/* .chatmessage {

} */

.registerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputgroup {
    align-items: center;
}

.registerForm {
    width: 15%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    background-color: rgb(29, 29, 29);
    border-radius: 7px;
    padding: 1rem;
    gap: 0.5rem;

    h3 {
        align-self: center;
    }

    button {
        max-width: 50%;
        align-self: flex-end;
        font-size: 1rem;
    }
}

.invalid {
    border: 3px solid red;
}


.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.sectiontitle {
    margin: 0;
    align-self: center;
}

#createlobbymenu {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(29, 29, 29); */
    /* padding: 0.5rem; */
    gap: 0.3rem;

    /* h3 {
        margin: 0;
        align-self: center;
    } */

    button {
        align-self: flex-end;
    }
}

#lobbylist {
    /* padding: 0.5rem; */
    gap: 0.5rem;
    /* h3 {
        margin: 0;
        align-self: center;
    } */



    button {
        align-self: flex-end;
    }
}

.joinbutton {
    display: none;
}

.flex {
    display: flex;
}

.listitem {
    height: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.listitem:hover {
    .joinbutton {
        display: block;
    }
}

