html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    color: beige;
}

input {
    background-color: black;
    border: 1px solid beige;
    border-radius: 5px;
    height: 1.5rem;
    color: beige;
    padding-left: 0.5rem;
    font-size: large;
}

hr {
    color: beige;
    margin: 0;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.inline {
    display: inline-flex;
}

.namedisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 0.5rem;
}

button {
    background-color: black;
    color: beige;
    border: 1px solid beige;
    border-radius: 5px;
    padding: 0.3rem;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: beige;
    color: black;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.mainpanel {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 85%;
}

.sidepanel {
    flex-direction: column;
    width: 15%;
    background-color: rgb(0, 0, 0);
    border-right-width: 3px;
    border-color: beige;
    border-right-style: solid;

}

.registerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputgroup {
    align-items: center;
}

.registerForm {
    width: 15%;
    display: flex;
    flex-direction: column;
    border: 2px solid beige;
    padding: 1rem;
    gap: 0.2rem;

    h3 {
        align-self: center;
    }

    button {
        max-width: 50%;
        align-self: flex-end;
    }
}

.invalid {
    border: 3px solid red;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#createlobbymenu {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.3rem;

    h3 {
        margin: 0;
        align-self: center;
    }

    button {
        align-self: flex-end;
    }
}

#lobbylist {
    padding: 0.5rem;
    gap: 0.5rem;
    h3 {
        margin: 0;
        align-self: center;
    }



    button {
        align-self: flex-end;
    }
}

.joinbutton {
    display: none;
}

.listitem {
    height: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.listitem:hover {
    .joinbutton {
        display: block;
    }
}

