html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    color: beige;
}

input {
    background-color: transparent;
    border: 1px solid beige;
    border-radius: 5px;
    height: 1.5rem;
    color: beige;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: large;
}

hr {
    color: beige;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.inline {
    display: inline-flex;
}

.namedisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 1rem;
    padding-left: 0.5rem; */
}

button {
    background-color: transparent;
    color: beige;
    border: 1px solid beige;
    border-radius: 5px;
    padding: 0.3rem;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: beige;
    color: black;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: rgba(0, 0, 0, 0.904); */
}

.mainpanel {
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    flex: 1;
    /* width: 70%; */
    height: 100%;
}

.sidepanel {
    flex-direction: column;
    width: 15%;
    /* background-color: rgb(0, 0, 0); */
    border-right-width: 3px;
    border-color: beige;
    border-right-style: solid;
    /* height: 100%; */
    padding: 0.5rem;
}

#chatpanel {
    width: 15%;
    border-left-width: 3px;
    border-color: beige;
    border-left-style: solid;
    padding: 0.5rem;
    overflow: hidden;
}

.chathistory {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
    margin: 0%;
    padding: 0%;
    overflow-y: auto;
    list-style: none;
}

.messageinput {
    height: 10%;
    flex-direction: column;
    justify-content: space-evenly;
}


/* .chatmessage {

} */

.registerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputgroup {
    align-items: center;
}

.registerForm {
    width: 15%;
    display: flex;
    flex-direction: column;
    border: 2px solid beige;
    padding: 1rem;
    gap: 0.2rem;

    h3 {
        align-self: center;
    }

    button {
        max-width: 50%;
        align-self: flex-end;
    }
}

.invalid {
    border: 3px solid red;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.sectiontitle {
    margin: 0;
    align-self: center;
}

#createlobbymenu {
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
    gap: 0.3rem;

    /* h3 {
        margin: 0;
        align-self: center;
    } */

    button {
        align-self: flex-end;
    }
}

#lobbylist {
    /* padding: 0.5rem; */
    gap: 0.5rem;
    /* h3 {
        margin: 0;
        align-self: center;
    } */



    button {
        align-self: flex-end;
    }
}

.joinbutton {
    display: none;
}

.listitem {
    height: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.listitem:hover {
    .joinbutton {
        display: block;
    }
}

